# root files
/*.* @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsitek


/metabased-contracts @WillPapper @gustavoguimaraes

/metabased-translator @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsitek

/metabased-sequencer @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsitek
