# root files
/*.* @WillPapper @sammdec @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne


/synd-contracts @WillPapper @sammdec @gustavoguimaraes @ibremseth @ericvelazquez

/synd-translator @WillPapper @sammdec @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/synd-proposer @WillPapper @sammdec @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/synd-maestro @WillPapper @sammdec @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne
