# Archives
*.zip
*.tar
*.gz

# Build artifacts
**/target/
**/build/
**/buildfiles/build-local/
**/*.o
**/*.a
**/*.wasm

# Dependencies
**/node_modules/

# IDE and tools
**/.vscode/
**/.github/
**/.make/

# Git
**/.git/
**/.gitignore
**/.gitmodules
**/.dockerignore
**/Dockerfile

# Test and cache files
**/*.yml
**/cache/
**/test-cases/

# Nitro specific
nitro/go-ethereum/tests/
nitro/contracts/build/
nitro/contracts/cache/
nitro/safe-smart-account/build/
nitro/solgen/go/
nitro/nitro-testnode/
nitro/arbitrator/tools/{module_roots,pricer,pricers,wasm-tools,stylus_benchmark}/
nitro/arbitrator/{stylus,wasm-testsuite,wasm-libraries}/**/target/
nitro/arbitrator/langs/{rust,bf}/target/