# Common
export SETTLEMENT_CHAIN_RPC_URL=https://base-rpc.publicnode.com
export SETTLEMENT_CHAIN_RPC_URL_WS=wss://base-rpc.publicnode.com # Optional if using WS
export SEQUENCING_CHAIN_RPC_URL=https://nova.arbitrum.io/rpc 
export METABASED_CHAIN_RPC_URL=http://localhost:8555
export METAFILLER_URL=https://staging-metafiller.metabased.org/batch/5101
export SEQUENCING_CONTRACT_ADDRESS=0xD77Aa8b1743326Baeb548357f8334df911A4E58f
export BATCH_INBOX_ADDRESS=0x97395dd253e2d096a0caa62a574895c3c2f2b2e0
export BATCHER_PRIVATE_KEY=fcd8aa9464a41a850d5bbc36cd6c4b6377e308a37869add1c2cf466b8d65826d
export SETTLEMENT_CHAIN_ID=8453
export CUTOVER_EPOCH_BLOCK=0
export SETTLEMENT_CHAIN_BLOCK_TIME=2s
export SETTLEMENT_START_BLOCK=10289263
export ALT_DA_URL=http://localhost:3100
export SEQUENCING_CONTRACT_ADDRESS=0xa6e41ffd769491a42a6e5ce453259b93983a22ef
export ROLLUP_TYPE=ARB

# Op Translator
export OP_TRANSLATOR_PORT=8888
export OP_TRANSLATOR_LOG_LEVEL=debug
export OP_TRANSLATOR_PRETTY=true
export OP_TRANSLATOR_RPC_URL=http://localhost:8888

# metabased-sequencer
export SEQUENCER_PRIVATE_KEY=0xb6b15c8cb491557369f3c7d2c287b053eb229daa9c22138887752191c9520659
export SEQUENCER_PORT=8456
