[submodule "synd-contracts/lib/forge-std"]
    path = synd-contracts/lib/forge-std
    url = https://github.com/foundry-rs/forge-std
[submodule "synd-contracts/lib/openzeppelin-contracts"]
    path = synd-contracts/lib/openzeppelin-contracts
    url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "use-cases/lib/forge-std"]
    path = use-cases/lib/forge-std
    url = https://github.com/foundry-rs/forge-std
[submodule "use-cases/lib/openzeppelin-contracts"]
    path = use-cases/lib/openzeppelin-contracts
    url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "synd-contracts/lib/nitro-contracts"]
    path = synd-contracts/lib/nitro-contracts
    url = https://github.com/Layr-Labs/nitro-contracts
    branch = eigenda-v2.1.3
[submodule "synd-contracts/lib/upgrade-executor"]
    path = synd-contracts/lib/upgrade-executor
    url = https://github.com/OffchainLabs/upgrade-executor
[submodule "synd-withdrawals/nitro"]
    path = synd-withdrawals/synd-enclave/nitro
    url = https://github.com/SyndicateProtocol/nitro.git
[submodule "synd-contracts/lib/sp1-contracts"]
    path = synd-contracts/lib/sp1-contracts
    url = https://github.com/succinctlabs/sp1-contracts
[submodule "synd-contracts/lib/eigenda-contracts"]
    path = synd-contracts/lib/eigenda-contracts
    url = https://github.com/Layr-Labs/eigenda-contracts
[submodule "synd-contracts/lib/eigenlayer-middleware"]
    path = synd-contracts/lib/eigenlayer-middleware
    url = https://github.com/Layr-Labs/eigenlayer-middleware
[submodule "test-framework/external/nitro-contracts"]
	path = test-framework/external/nitro-contracts
	url = https://github.com/OffchainLabs/nitro-contracts.git
[submodule "synd-contracts/lib/crosschainERC20"]
	path = synd-contracts/lib/crosschainERC20
	url = https://github.com/defi-wonderland/crosschainERC20
