[submodule "synd-contracts/lib/forge-std"]
path = synd-contracts/lib/forge-std
url = https://github.com/foundry-rs/forge-std
[submodule "synd-contracts/lib/openzeppelin-contracts"]
path = synd-contracts/lib/openzeppelin-contracts
url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "use-cases/lib/forge-std"]
path = use-cases/lib/forge-std
url = https://github.com/foundry-rs/forge-std
[submodule "use-cases/lib/openzeppelin-contracts"]
path = use-cases/lib/openzeppelin-contracts
url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "synd-contracts/lib/nitro-contracts"]
	path = synd-contracts/lib/nitro-contracts
	url = https://github.com/OffchainLabs/nitro-contracts
[submodule "synd-contracts/lib/upgrade-executor"]
	path = synd-contracts/lib/upgrade-executor
	url = https://github.com/OffchainLabs/upgrade-executor
[submodule "synd-withdrawals/nitro"]
	path = synd-withdrawals/synd-enclave/nitro
	url = https://github.com/OffchainLabs/nitro.git
