{
  "settlementChainRpcUrl": "<YOUR_BASE_SEPOLIA_RPC_URL>",
  "sequencingChainRpcUrl": "<YOUR_SEQ_CHAIN_RPC_URL>",
  "appChainRpcUrl": "<YOUR_APPCHAIN_RPC_URL>",
  "appChainExplorerUrl": "<YOUR_APPCHAIN_EXPLORER_URL>",
  "ownerPrivateKey": "<YOUR_OWNER_PRIVATE_KEY>",
  "newOwnerAddress": "<YOUR_NEW_OWNER_ADDRESS>",
  // Get synd config from notion
  "synd": {
    "config": {
      "arbConfigManager": "<YOUR_ARB_CONFIG_MANAGER_ADDRESS>",
      "arbChainConfig": "<YOUR_ARB_CHAIN_CONFIG_ADDRESS>"
    },
    "bridge": {
      "chainInfo": {
        "chainName": "<YOUR_CHAIN_NAME>",
        "chainId": <YOUR_CHAIN_ID>,
        "chainOwner": "<YOUR_CHAIN_OWNER_ADDRESS>",
        "minL2BaseFee": <YOUR_MIN_L2_BASE_FEE>,
        "parentChainId": <YOUR_PARENT_CHAIN_ID>,
        "nativeToken": "<YOUR_NATIVE_TOKEN_ADDRESS>",
        "staker": "",
        "batchPoster": "",
        "networkFeeReceiver": "",
        "infrastructureFeeCollector": "",
        "explorerUrl": "<YOUR_EXPLORER_URL>",
        "rpcUrl": "<YOUR_RPC_URL>"
      },
      "coreContracts": {
        "rollup": "<YOUR_ROLLUP_ADDRESS>",
        "inbox": "<YOUR_INBOX_ADDRESS>",
        "nativeToken": "<YOUR_NATIVE_TOKEN_ADDRESS>",
        "outbox": "<YOUR_OUTBOX_ADDRESS>",
        "rollupEventInbox": "<YOUR_ROLLUP_EVENT_INBOX_ADDRESS>",
        "challengeManager": "<YOUR_CHALLENGE_MANAGER_ADDRESS>",
        "adminProxy": "<YOUR_PROXY_ADMIN_ADDRESS>",
        "sequencerInbox": "<YOUR_SEQUENCER_INBOX_ADDRESS>",
        "bridge": "<YOUR_BRIDGE_ADDRESS>",
        "upgradeExecutor": "<YOUR_UPGRADE_EXECUTOR_ADDRESS>",
        "validatorWalletCreator": "<YOUR_VALIDATOR_WALLET_CREATOR_ADDRESS>",
        "deployedAtBlockNumber": <YOUR_DEPLOYED_AT_BLOCK_NUMBER>
      },
      "tokenBridgeContracts": {
        "l2Contracts": {
          "router": "<YOUR_ROUTER_ADDRESS>",
          "standardGateway": "<YOUR_STANDARD_GATEWAY_ADDRESS>",
          "customGateway": "<YOUR_CUSTOM_GATEWAY_ADDRESS>",
          "wethGateway": "<YOUR_WETH_GATEWAY_ADDRESS>",
          "weth": "<YOUR_WETH_ADDRESS>",
          "multicall": "<YOUR_MULTICALL_ADDRESS>",
          "proxyAdmin": "<YOUR_PROXY_ADMIN_ADDRESS>"
        },
        "l3Contracts": {
          "router": "<YOUR_ROUTER_ADDRESS>",
          "standardGateway": "<YOUR_STANDARD_GATEWAY_ADDRESS>",
          "customGateway": "<YOUR_CUSTOM_GATEWAY_ADDRESS>",
          "wethGateway": "<YOUR_WETH_GATEWAY_ADDRESS>",
          "weth": "<YOUR_WETH_ADDRESS>",
          "proxyAdmin": "<YOUR_PROXY_ADMIN_ADDRESS>",
          "beaconProxyFactory": "<YOUR_BEACON_PROXY_FACTORY_ADDRESS>",
          "upgradeExecutor": "<YOUR_UPGRADE_EXECUTOR_ADDRESS>",
          "multicall": "<YOUR_MULTICALL_ADDRESS>"
        }
      }
    },
    "sequencing": {
      "syndicateSequencingChain": "<YOUR_SYNDICATE_SEQUENCING_CHAIN_ADDRESS>",
      "allowlistSequencingModule": "<YOUR_ALLOWLIST_SEQUENCING_MODULE_ADDRESS>",
      "requireAndModule": "<YOUR_REQUIRE_AND_MODULE_ADDRESS>",
      "settlementBlockBeforeDeployment": "<YOUR_SETTLEMENT_BLOCK_BEFORE_DEPLOYMENT>",
      "deployedAtBlock": "<YOUR_DEPLOYED_AT_BLOCK>",
      "sequencer": "<YOUR_SEQUENCER_ADDRESS>"
    },
    "withdrawals": {
      "teeKeyManager": "<YOUR_TEE_KEY_MANAGER_ADDRESS>",
      "assertionPoster": "<YOUR_ASSERTION_POSTER_ADDRESS>",
      "teeModule": "<YOUR_TEE_MODULE_ADDRESS>",
      "attestationDocVerifier": "<YOUR_ATTESTATION_DOC_VERIFIER_ADDRESS>",
      "proposer": "<YOUR_PROPOSER_ADDRESS>"
    }
  }
}
