# These are the `metabased-sequencer`-specific env vars. You would put a `.envrc` file at repo root

# metabased-sequencer
export METABASED_SEQUENCER_CHAIN_RPC_ADDRESS=http://localhost:8456
export METABASED_SEQUENCER_PRIVATE_KEY=0xb6b15c8cb491557369f3c7d2c287b053eb229daa9c22138887752191c9520659
export METABASED_SEQUENCER_PORT=8456
export METABASED_SEQUENCER_CHAIN_CONTRACT_ADDRESS=0xa6e41ffd769491a42a6e5ce453259b93983a22ef